#Input files
*.in
*.inc
*.man

#Binary files
*.pyc
mercury6
mercury6_g2
element6
close6
*.o

#Packages
*.zip
*.tar

#Random things
*.save
*.save.*
*.png
mercury6_2.for
mercury6_2_gr.for
*.out
*.txt
*.hdf5
